<!-- Still have to comment stuff here -->
<!DOCTYPE html>
<html>
<head>
	<title>Capture_Image</title>
	<style>
	button{
	width: 70px;
	height : 85px;
	margin-left: 2px;
	border: none;
	background-color: #33cccc;
	text-align:center;
	color: white;
}
button:active{
	background-color:#00ff99

}
button:hover{
	background-color: #009999;
}
body{
	background-color: #000000;
}
	</style>
</head>
<body>
<div id="buttonarea">
<table border="0" class="table">
{% for o in params %}
<tr>
<td>
<form method="post">
<button class="button_style" name="d" value="{{o}}"> {{o}}</button>
<td>
<tr>
{% endfor %}
</div>
</body>
</html>	

<!--

src="{{ url_for('static',filename='camICO.jpg')}}"

-->
