<!-- Still have to comment stuff here -->
<!DOCTYPE html>
<html>
<head>
	<title>Capture_Image</title>
	<style>
	button{
	width: 76px;
	height : 94px;
	margin-left: 2px;
}
body{
	background-color: #000000;
}
	</style>
</head>
<body>
12
<div id="buttonarea">
<table border="0" class="table">
{% for o in params %}

<tr>
<td>
<form method="post">
<button class="button_style" name="d" value="{{o}}"> <img src="{{  url_for('static',filename='{{o}}.jpg') }}"></button>
<td>
<tr>
0
{% endfor %}
</div>

</body>
</html>	

<!--

src="{{ url_for('static',filename='camICO.jpg')}}"

-->